.element-top{
    width: 100%;
    height: 12%;
    /* background-color: #210ba15d; */
    position: fixed;
    top: 0;
    z-index: -999;
}
.element-left {
    width: 6%;
    height: 76%;
    /* background-color: #1fac1377; */
    position: fixed;
    top: 12%;
    z-index: -999;
}
.element-right {
   width: 27%;
   height: 101%;
   /* background-color: #18d8d877; */
   position: fixed;
   left: 73%;
   top: 0%;
   z-index: -999;
}
.element-bottom {
    width: 100%;
    height: 12%;
    /* background-color: #57120188; */
    position: fixed;
    bottom: 0;
    z-index: -999;
}

/* --------------------Elements-------------------- */

.ele{
    position: fixed;
    z-index: -999;
}

.mas {
    position: fixed;
    z-index: -998;
}

.mas1-bottom {
    width: 310px;
    bottom: 0;
    left: 2.5%;
}
.mas2-bottom {
    width: 510px;
    bottom: 0;
    right: 10.5%;
}

/* --------------------Top-------------------- */
.element1-top{
    width: 80px;
    top: -3%;
    left: -0.5%;
}
.element2-top {
    width: 95px;
    top: -4%;
    left: 4%;
}

.element3-top {
    width: 70px;
    top: -1%;
    left: 10%;
}

.element4-top {
    width: 80px;
    top: -3%;
    left: 25%;
}

.element5-top {
    width: 75px;
    top: -3%;
    left: 29%;
}

.element6-top {
    width: 80px;
    top: -2%;
    left: 37%;
}

.element7-top {
    width: 85px;
    top: -1%;
    left: 44.5%;
}

.element8-top {
    width: 60px;
    top: 6%;
    left: 52%;
}

.element9-top {
    width: 60px;
    top: 2%;
    left: 57%;
    transform: scaleX(-1);
}

.element10-top {
    width: 60px;
    top: 6%;
    left: 61%;
}

.element11-top {
    width: 60px;
    top: 5%;
    left: 66%;
    transform: scaleX(-1);
}

.element12-top {
    width: 87px;
    top: 0.5%;
    left: 71%;
}

.element13-top {
    width: 60px;
    top: -1%;
    left: 92%;
}
/* --------------------Left-------------------- */
.element1-left {
    width: 70px;
    top: 4%;
    left: 1%;
}
.element2-left {
    width: 50px;
    top: 16%;
    left: 1.5%;
}
.element3-left {
    width: 50px;
    top: 25%;
    left: 0.5%;
}
.element4-left {
    width: 50px;
    top: 33%;
    left: 1%;
}
.element5-left {
    width: 50px;
    top: 50%;
    left: 1%;
}
.element6-left {
    width: 50px;
    top: 69%;
    left: 1.5%;
}
/* --------------------Right-------------------- */
.element1-right {
    width: 500px;
    top: 2%;
    right: 0.5%;
}

.element2-right {
    width: 65px;
    top: 51%;
    right: 20.5%;
}

.element3-right {
    width: 70px;
    top: 64%;
    right: 1%;
    z-index: -9999;
}

/* --------------------Bottom-------------------- */
.element1-bottom {
    width: 100px;
    bottom: 5%;
    left: -0.5%;
}

.element2-bottom {
    width: 95px;
    bottom: -3%;
    left: 0.5%;
}

.element3-bottom {
    width: 70px;
    bottom: 1%;
    left: 5%;
}

.element4-bottom {
    width: 50px;
    bottom: 1%;
    left: 15%;
}

.element5-bottom {
    width: 55px;
    bottom: 2%;
    left: 20%;
}

.element6-bottom {
    width: 35px;
    bottom: 1%;
    left: 25%;
}

.element7-bottom {
    width: 50px;
    bottom: 6%;
    left: 29%;
}

.element8-bottom {
    width: 50px;
    bottom: 1%;
    left: 31%;
}

.element9-bottom {
    width: 50px;
    bottom: 7%;
    left: 33%;
}

.element10-bottom {
    width: 50px;
    bottom: 1%;
    left: 36%;
}

.element11-bottom {
    width: 75px;
    bottom: 2%;
    left: 40%;
}

.element12-bottom {
    width: 87px;
    bottom: 0.5%;
    left: 45%;
}

.element13-bottom {
    width: 60px;
    bottom: 4.5%;
    left: 51%;
}
.element14-bottom {
    width: 50px;
    bottom: 1.5%;
    left: 54%;
}
.element15-bottom {
    width: 60px;
    bottom: 0.5%;
    left: 59%;
}
.element16-bottom {
    width: 60px;
    bottom: 4%;
    left: 64%;
    transform: scaleX(-1);
}


@media only screen and (max-width: 900px) {
    /* --------------------Elements-------------------- */
    .mas1-bottom {
        width: 105px;
        bottom: 0;
        left: 4.5%;
    }

    .mas2-bottom {
        width: 170px;
        bottom: 0;
        right: 13.5%;
    }
    /* --------------------Top-------------------- */
    .element1-top {
        width: 30px;
        top: -3%;
        left: -0.5%;
    }

    .element2-top {
        width: 35px;
        top: -4%;
        left: 4%;
    }

    .element3-top {
        width: 30px;
        top: -1%;
        left: 10%;
    }

    .element4-top {
        width: 40px;
        top: -3%;
        left: 25%;
    }

    .element5-top {
        width: 35px;
        top: -3%;
        left: 29%;
    }

    .element6-top {
        width: 30px;
        top: -2%;
        left: 37%;
    }

    .element7-top {
        width: 45px;
        top: -5%;
        left: 44.5%;
    }

    .element8-top {
        width: 20px;
        top: 6%;
        left: 52%;
    }

    .element9-top {
        width: 20px;
        top: 2%;
        left: 57%;
        transform: scaleX(-1);
    }

    .element10-top {
        width: 20px;
        top: 6%;
        left: 61%;
    }

    .element11-top {
        width: 20px;
        top: 5%;
        left: 66%;
        transform: scaleX(-1);
    }

    .element12-top {
        width: 27px;
        top: 0.5%;
        left: 71%;
    }

    .element13-top {
        width: 20px;
        top: -1%;
        left: 92%;
    }

    /* --------------------Left-------------------- */
    .element1-left {
        width: 30px;
        top: 4%;
        left: 1%;
    }

    .element2-left {
        width: 20px;
        top: 16%;
        left: 1.5%;
    }

    .element3-left {
        width: 20px;
        top: 25%;
        left: 0.5%;
    }

    .element4-left {
        width: 20px;
        top: 33%;
        left: 1%;
    }

    .element5-left {
        width: 20px;
        top: 50%;
        left: 1%;
    }

    .element6-left {
        width: 20px;
        top: 69%;
        left: 1.5%;
    }

    /* --------------------Right-------------------- */
    .element1-right {
        width: 215px;
        top: -1%;
        right: 0.5%;
    }

    .element2-right {
        width: 25px;
        top: 56%;
        right: 20.5%;
    }

    .element3-right {
        width: 20px;
        top: 69%;
        right: 1%;
        z-index: -9999;
    }

    /* --------------------Bottom-------------------- */
    .element1-bottom {
        width: 40px;
        bottom: 5%;
        left: -0.5%;
    }

    .element2-bottom {
        width: 35px;
        bottom: -3%;
        left: 0.5%;
    }

    .element3-bottom {
        width: 30px;
        bottom: 1%;
        left: 5%;
    }

    .element4-bottom {
        width: 20px;
        bottom: 1%;
        left: 15%;
    }

    .element5-bottom {
        width: 20px;
        bottom: 2%;
        left: 20%;
    }

    .element6-bottom {
        width: 15px;
        bottom: 1%;
        left: 25%;
    }

    .element7-bottom {
        width: 20px;
        bottom: 6%;
        left: 29%;
    }

    .element8-bottom {
        width: 20px;
        bottom: 1%;
        left: 31%;
    }

    .element9-bottom {
        width: 20px;
        bottom: 7%;
        left: 33%;
    }

    .element10-bottom {
        width: 20px;
        bottom: 1%;
        left: 36%;
    }

    .element11-bottom {
        width: 25px;
        bottom: 2%;
        left: 40%;
    }

    .element12-bottom {
        width: 37px;
        bottom: 0.5%;
        left: 45%;
    }

    .element13-bottom {
        width: 30px;
        bottom: 4.5%;
        left: 51%;
    }

    .element14-bottom {
        width: 20px;
        bottom: 1.5%;
        left: 54%;
    }

    .element15-bottom {
        width: 30px;
        bottom: 0.5%;
        left: 59%;
    }

    .element16-bottom {
        width: 30px;
        bottom: 4%;
        left: 64%;
        transform: scaleX(-1);
    }


}
