@font-face {
    font-family: PslFont;
    src: url(../font/PSL116pro.86f8c369.ttf);
}

html {}

body {
    font-family: 'Mitr', sans-serif !important;
    color: #ffffff;
}

.warp1920{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
}

.game-box {
    position: fixed;
    width: 68%;
    height: 76%;
    top: 12%;
    left: 6%;
    z-index: -1999;
}

.viewport-z{
    position: absolute;
    z-index: -1999 !important;
    margin-top: 130px;
    margin-left: 100px;
    border-radius: 20px;
}

#body-main {
    background-image: url('../img/main-menu.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#body-content {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#body-game {
    /* background-image: url('../img/bg-game.png'); */
    background-color: #589e0d;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}


a {
    text-decoration: none !important;
}

a:hover {
    color: currentColor;
}

.on-desktop {
    display: block;
}

.on-mobile {
    display: none;
}

.mb-6 {
    margin-bottom: 6em;
}

#game-section,
#game-section-main,
#game-section-info-rule,
#game-section-htp {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 46%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#footer {
    background-image: url('../img/footer.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(236, 236, 236);
    height: 74px;
    z-index: 0;
}

#footer p {
    position: absolute;
    left: 10px;
    bottom: 0px;
    font-weight: 200;
    font-size: 0.8em;
}

.btn-and-mascot {
    margin-top: 700px;
    z-index: 999;
}

.card-mini-info img {
    width: 100%;
}

.title-en {
    text-transform: uppercase;
    font-size: 8.25em;
    font-weight: 800;
    line-height: 110px;
}

.subtitle-en {
    font-size: 4em;
    font-weight: 600;
}

.title-th {
    font-size: 4em;
}

.midtitle-th {
    font-size: 2.2em;
}

.subtitle-th {
    font-size: 1.15em;
}

.htp-title {
    font-size: 1.5em;
}

.htp-subtitle {
    font-size: 1.3em;
}

.htp-p {
    font-size: 1em;
}

.text-yl {
    color: #ffc000;
}

.text-pk {
    color: #ec2d78;
}

.game-main-menu,
.game-mini-info,
.game-info-rule,
.game-htp {
    width: 100%;
    position: absolute;
}

.center img {
    width: 300px;
}

/* .card-mini-info {
    padding: 60px;
    background-color: #ec2d78;
    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.801);
} */

/* .card-time-out {
    padding: 60px;
    background-color: #ec2d78;
    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.801);
} */
.card-time-out {
    width: 100%;
}

.card-time-out img {
    width: 100%;
}

.card-info-rule {
    padding: 60px;
    background-color: #ec2d78;
    border-radius: 100px;
    border: 10px solid rgba(255, 255, 255, 0.801);
}

.center img {
    width: 300px;
}

.btn-rdy {
    text-transform: uppercase;
}

.htp-img-item,
.htp-content,
.htp-score-update {
    width: 100%;
}

.htp-img-item img {
    width: 100%;
}

.htp-score-update img {
    width: 100%;
}

.htp-content-title {
    font-weight: 500;
}

.htp-content-des {
    font-weight: 300;
}

.time-score-box {
    width: 600px;
    position: fixed;
    top: 30;
    left: 20;
}

.time-box,
.score-box {
    width: 300px;
}

.time-box {
    position: fixed;
    top: 20px;
    left: 20px;
}

.score-box {
    position: fixed;
    top: 20px;
    left: 20px;
}

.time-box img,
.score-box img {
    width: 300px;
}

.text-time,
.text-score {
    position: absolute;
    color: #0e0157;
    font-size: 1.75em;
    margin-left: 130px;
    margin-top: -75px;
    font-weight: 600;
}

.card-htp img {
    width: 100%;
}

.total-snake-score {
    width: 100%;
    position: absolute;
    font-size: 15em;
    margin-top: -610px;
}

.btn-play-again img,
.btn-exit img {
    width: 340px;
}

.joy-controller {
    background-image: url('../img/Controller/Controller_Bg.png');
    background-size: 100%;
    padding: 20px;
    width: 300px;
    height: 300px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.joy-controller img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .viewport-z {
        position: absolute;
        z-index: -1999 !important;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 20px;
    }

    .game-box {
        position: fixed;
        width: 60%;
        height: 76%;
        left: 6%;
        z-index: -1999;
    }

    .on-desktop {
        display: none;
    }

    .on-mobile {
        display: block;
    }

    #game-section-main {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 53%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #game-section-info-rule {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 65%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #game-section-htp {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #footer {
        background-image: url('../img/footer.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: rgb(236, 236, 236);
        height: 45px;
        font-size: 0.75em;
    }


    .btn-and-mascot {
        margin-top: 120px;
        z-index: 999;
    }

    .btn-and-mascot img {
        width: 200px;
    }

    .title-en {
        text-transform: uppercase;
        font-size: 5.55em;
        font-weight: 800;
        line-height: 60px;
    }

    .subtitle-en {
        font-size: 3.3em;
        font-weight: 600;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .title-th {
        font-size: 2.5em;
        margin-top: 20px;
    }

    .midtitle-th {
        font-size: 1.7em;
    }

    .subtitle-th {
        font-size: 1.15em;
    }

    .htp-title {
        font-size: 1.5em;
    }

    .htp-subtitle {
        font-size: 1.3em;
    }

    /* .card-mini-info {
        padding: 60px 25px 60px 25px;
        background-color: #ec2d78;
        border-radius: 50px;
        border: 10px solid rgba(255, 255, 255, 0.801);
    } */

    .card-mini-info img {
        width: 80%;
        margin-left: 10%;
        margin-top: 5px;
    }

    .btn-right img {
        width: 140px;
        margin-top: -65px;
    }

    /* .card-time-out {
        padding: 30px 25px 30px 25px;
        background-color: #ec2d78;
        border-radius: 50px;
        border: 10px solid rgba(255, 255, 255, 0.801);
    } */

    /* .card-htp {
        padding: 35px 15px 70px 15px;
        background-color: #ffffff;
        color: black;
        border-radius: 50px;
        border: 10px solid rgba(251, 255, 27, 0.938);
    } */

    .card-htp img {
        width: 74%;
        margin-left: 13%;
    }

    .btn-right-htp {
        margin-top: -50px;
    }

    .btn-right-htp img {
        width: 140px;
        margin-top: 0px;
    }

    .htp-score-update {
        position: absolute;
        margin-top: -30px;
        margin-left: 12px;
    }

    .total-snake-score {
        width: 100%;
        position: absolute;
        font-size: 7em;
        margin-top: -255px;
    }

    .btn-play-again img,
    .btn-exit img {
        width: 140px;
    }

    .navigation-btn-box {
        margin-top: -50px;
    }

    .text-time,
    .text-score {
        width: 300px;
        position: absolute;
        color: #0e0157;
        font-size: 1.2em;
        margin-left: 85px;
        margin-top: -47px;
        font-weight: 600;
    }

    .time-box,
    .score-box {
        width: 140px;
    }

    .time-box img,
    .score-box img {
        width: 200px;
    }

    .time-box {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .score-box {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .joy-controller {
        background-image: url('../img/Controller/Controller_Bg.png');
        background-size: 100%;
        padding: 20px;
        width: 155px;
        height: 155px;
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
}
